/*default settings*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body settings*/
body{
  background: url(./assets/bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Be Vietnam Pro", sans-serif;
}
